<% include components/preloader %>
<!-- preloader section ends -->
<!-- navbar include -->
<% include components/nav %>
<!-- main-content include-->

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 mt-4 mb-3 text-center">
            <h1>Registration</h1>
        </div>
        <div class="div col-sm-12">
            <form method="POST" action="/registration"
                class="d-flex flex-column justify-content-center align-items-center">
                <div class="form-group w-50">
                  <input type="text" class="form-control" placeholder="First Name" name="fname">
                  <% for(let obj in err){ %>
                    <%  if(obj == "fname"){ %> 
                    <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= err[obj].msg %></span>
                    <% } %>
                 <% } %>
                </div>
                <div class="form-group w-50">
                    <input type="text" class="form-control" placeholder="Last Name" name="lname" id="exampleInputLast"
                        aria-describedby="LastHelp">
                        <% for(let obj in err){ %>
                            <%  if(obj == "lname"){ %> 
                            <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= err[obj].msg %></span>
                            <% } %>
                        <% } %>
                </div>
                <div class="form-group w-50">
                    <input type="text" class="form-control" placeholder="Email Id" name="email" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                        <% for(let mail of ExistMail){ %>
                            <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= mail.emailErr %></span>
                         <% } %>

                        <% for(let obj in err){ %>
                           <%  if(obj == "email"){ %> 
                           <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= err[obj].msg %></span>
                           <% } %>
                        <% } %>
             </div>
              

                <div class="form-group w-50">
                    <input type="text" class="form-control" maxlength="10" minlength="10" placeholder="Mobile No" name ="mobile" id="exampleInputNumber"
                        aria-describedby="NumberHelp">
                        <% for(let mobile of ExistMobile){ %>
                            <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= mobile.mobileErr %></span>
                         <% } %>

                        <% for(let obj in err){ %>
                            <%  if(obj == "mobile"){ %> 
                                <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= err[obj].msg %></span>
                            <% } %>
                         <% } %>
               </div>
               
               
               <div class="form-group w-50">
                    <input type="password" class="form-control" placeholder="Password" name="password" id="exampleInputPassword1">
                    <% for(let obj in err){ %>
                        <%  if(obj == "password"){ %> 
                            <span style="color: red; text-align: end; display: inline-block; width: 100%; padding-top: 5px; font-size: 13px;"><%= err[obj].msg %></span>
                        <% } %>
                     <% } %>
                </div>
                
                 <button class="btn btn-primary w-50 mt-3 pt-2">Register</button>
                <div class="link mt-3"><a href="/login" style="text-decoration: none;">If you have already account Click
                        Here !</a></div>
            </form>
            <div class="col-sm-12 text-center mt-3" style="color: green; font-size: larger;"><%= msg %></div>
        </div>
        
    </div>
</div>

<% include components/footer %>

<script src="javascripts/dropdown.js"></script>
<script src="javascripts/preloader.js"></script>
</body>

</html>