<% include linkFile1 %>
<% include userNav %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="/user/additem" enctype="multipart/form-data"
                class="d-flex flex-column align-items-center justify-content-center" style="height: 400px;">
                <div class="form-group w-50">
                    <h1 class="pt-4 pb-4 pl-0">Add Product</h1>
                    <input type="text" class="form-control" placeholder="Product Name" name="pname">
                </div>
                <div class="input-group" style="width: 50%; border-radius: 5px; border: 1px solid rgb(218, 208, 208); "
                    id="show_hide_password">
                    <input type="text" class="form-control" placeholder="Product Price" name="pprice"
                        style="outline: none; border: none;" type="text">
                </div>
            <div class="category" style="width: 50%; margin-top: 15px;">

                <select id="" class="w-100 pt-1 pb-1" name="CatName" >
                  <option value="">Choose Category</option>
                  <% for(row of catname) {%>
                  <option><%= row.catnm %></option>
                  <% } %>
                </select>

            </div>
                <div class="form-group w-50 mt-3">
                    <label for="proimg" style="color: rgb(146, 133, 133);">Product Image</label><br>
                    <input type="file" class="mb-3" id="proimg" name="pimage">
                </div>
                <button type="submit" class="btn btn-primary w-50 pt-2 ">Add Product</button>
            </form>
            <div class="text-center mt-3" style="color: green; font-size: larger;"><%= Msg %></div>

        </div>

    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <h1 class="w-100 text-center">Products</h1>
    </div>
    <div class="row">
        <% for (row of addProduct){ %>
        <div class="col-sm-4 mt-3 mb-3 pt-2 pb-2">
            <div class="card  " style="width: 20rem;">
                <a href="/user/removeProduct?id=<%= row._id %>" style="text-align:end; color: black;"><i
                        class="fa fa-times pr-2" aria-hidden="true"></i></a>
                <img src="../fileupload/Product/<%= row.pimgName %>" class="card-img-top" alt="load">
                <div class="card-body text-center p-0">
                    <h3 class="card-title mb-1"><%= row.pname %></h3>
                    <h6 class="card-title">Price : <%= row.pprice %></h6>
                    <% if(row.pStatus) {%>
                    <a href="/unlaunchProduct?productStatus=unlaunch&&productId=<%= row._id %>"><button
                            style="background-color: red; border: none; outline: none; color: white;"
                            class="btn mb-2">Remove</button></a>
                    <% } else { %>
                    <a
                        href="/launchProduct?productStatus=launch&&productName=<%= row.pname %>&&productPrice=<%= row.pprice%>&&productId=<%= row._id %>&&productImage=<%= row.pimgName %>&&UserId=<%= row.userId %>&&CatName=<%= row.CatName %>"><button
                            style="background-color: rgb(42, 175, 71); border: none; outline: none; color: white;"
                            class="btn mb-2">Launch</button></a>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="row">
        <% for (row of showProduct){ %>
        <div class="col-sm-4 mt-3 mb-3 pt-2 pb-2">
            <div class="card " style="width: 20rem; ">
                <a href="/user/removeProduct?id=<%= row._id %>" style="text-align:end; color: black;"><i
                        class="fa fa-times pr-2" aria-hidden="true"></i></a>
                <img src="../fileupload/Product/<%= row.pimgName %>" class="card-img-top" alt="load">
                <div class="card-body text-center p-0">
                    <h3 class="card-title mb-1"><%= row.pname %></h3>
                    <h6 class="card-title">Price : <%= row.pprice %> </h6>
                    <% if(row.pStatus) { %>
                    <a href="/launchProduct?productStatus=unlaunch&&productId=<%= row._id %>"><button
                            style="background-color: red; border: none; outline: none; color: white;"
                            class="btn mb-2">Remove</button></a>
                    <% } else { %>
                    <a
                        href="/launchProduct?productStatus=launch&&productName=<%= row.pname %>&&productPrice=<%= row.pprice%>&&productId=<%= row._id %>&&productImage=<%= row.pimgName %>&&UserId=<%= row.userId %>&&CatName=<%= row.CatName %>"><button
                            style="background-color: rgb(42, 175, 71); border: none; outline: none; color: white;"
                            class="btn mb-2">Launch</button></a>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="../javascripts/preloader.js"></script>
    <script src="../javascripts/dropdown.js"></script>
    </body>

    </html>